:root {
  --color-white: #fff;
  --color-yellow: #f4d04e;
  --color-gray-500: #6b6b6b;
  --color-gray-950: #111;
  --font-family: 'Figtree', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: var(--color-yellow);
}

.card {
  background-color: var(--color-white);
  padding: 24px;
  border-radius: 20px;
  max-width: 327px;
  border: 1px solid var(--color-gray-950);
  box-shadow: 8px 8px 0 0 #000;
  font-family: var(--font-family);
}

.card__img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card__tag {
  background-color: var(--color-yellow);
  width: fit-content;
  border-radius: 4px;
  padding: 4px 12px;
  font-weight: 800;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-gray-950);
}

.card__date {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-gray-950);
  margin: 12px 0;
}

.card__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-gray-950);
  margin-bottom: 12px;
  text-decoration: none;  
}

.card__title:hover {
  color: var(--color-yellow);
}

.card__description {
  margin: 12px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-gray-500);
  margin-bottom: 24px;
}

.card__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.card__author-img {
  height: 32px;
  width: 32px;
}

.card__author-name {
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-gray-950);
}

@media screen and (min-width: 376px) {
  .card {
    max-width: 384px;
  }

  .card__tag {
    font-size: 14px;
  }

  .card__date {
    font-size: 14px;
  }

  .card__title {
    font-size: 24px;
  }

  .card__description {
    font-size: 16px;
  }
}
